
.icon-mail:before { content: '\e800'; } /* '' */
.icon-xing:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\e804'; } /* '' */