body {
  font-size: 16px;
}

.header {
  background: #E6EAF3 url("/images/drops.png") no-repeat 308px 0px; /* for non-css3 browsers */
}
.header > div {
  background: url("/images/drops.png") no-repeat 308px 0px;
  height: 448px;
}

small {
  font-size: 100%;
  color: #757982;
}
      
.content, .footer { overflow: hidden; }
.content { padding: 60px 0 60px 0; }
      
h1 {
  font-size: 38px;
  margin-top: 40px;
  margin-bottom: 0;
}
h2 {
  margin-top: 10px;
  font-size: 22px;
}
      
.footer { padding: 20px 0 20px 0; }
.footer h1 { color: #8D919C; margin: 35px 0 0 0; font-size: 48px; }

cite {
  margin: 70px 0 0 0;
  font-size: 16px;
}

.tweet { min-height: 100px; }

.logo {
  display: block;
  height: 250px;
}

.logo.twitter a {
  display: block;
  margin-left: 42px;
  margin-top: 51px;
  background: url('/images/twitter.png') no-repeat center 0px;
  width: 216px;
  height: 148px;
  overflow: hidden;
}
.logo.twitter a:hover { background: url('/images/twitter.png') no-repeat center -148px; }

.logo.github a {
  display: block;
  margin-left: 42px;
  margin-top: 30px;
  background: url('/images/octocat.png') no-repeat center 0px;
  width: 216px;
  height: 190px;
  overflow: hidden;
}
.logo.github a:hover { background: url('/images/octocat.png') no-repeat center -190px; }

.commit p { margin-top: 5px; }
