.container_12 {
  margin: 0px 20px;
}

h1 { font-size: 72px; }

cite {
  display: block;
  max-width: 60%;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 1.2em;
}

.content, .footer { overflow: hidden; }
.content, .header, .footer { padding: 20px 0 20px 0; }

.container_12 > .grid_8,
.content.dark > .container_12 {
  float: left;
  width: 80%;
  font-size: 42px;
  line-height: 1.2em;
}

.logo.github { display: none; }
.logo.twitter { display: none; }

.content.dark:before {
  content: "";
  margin-left: 20px;
  margin-top: 50px;
  background: url('/images/twitter.png') no-repeat center -94px;
  background-size: 100%;
  float: left;
  width: 128px;
  height: 120px;
}

.content.light:before {
  content: "";
  margin-left: 20px;
  margin-top: 50px;
  background: url('/images/octocat.png') no-repeat center -132px;
  background-size: 100%;
  float: left;
  width: 148px;
  height: 120px;
}

.commit p { margin-top: 0px; }

.footer h1 {
  float: left;
  font-size: 36px;
  color: #909090;
  padding-top: 10px;
  padding-right: 20px;
}

.footer .address {
  float: left;
  margin-right: 20px;
}
.footer .links a,
.footer .links { display: block; }