.container_12 {
  margin: 0px 20px;
  font-size: 150%;
}

h1 { font-size: 42px; }

cite {
  display: block;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: lighter;
}

.content, .footer { overflow: hidden; }
.content, .header, .footer { padding: 20px 0 20px 0; }

.container_12 > .grid_8,
.content.dark > .container_12 {
  line-height: 1.2em;
}

.logo.github { display: none; }
.logo.twitter { display: none; }

.content.dark:before {
  content: "";
  background: url('/images/twitter.png') no-repeat center -148px;
  display: block;
  width: 100%;
  height: 148px;
}

.content.light:before {
  content: "";
  background: url('/images/octocat.png') no-repeat center -190px;
  display: block;
  width: 100%;
  height: 190px;
}

.commit p { margin-top: 0px; }

.footer h1 {
  font-size: 36px;
  color: #909090;
  padding: 20px 0px 40px 0px;
  text-align: center;
}

.footer .links  { margin: 50px 0px; }
.footer .links  a { margin: 10px 0px; }
.footer .links,
.footer .links a { display: block; }