@import 'vars';

#message .confirmation {
  display: none;
  color: #1F9186;
}

#message:target .confirmation {
  display: inherit;
}
#message:target button {
  display: none;
}
#message:target input,
#message:target textarea {
  filter:     alpha(opacity = 40);    /* IE 6, 7, 8 */
  -ms-filter: "alpha(opacity = 40)";  /* ab IE 8 zusätzlich möglich */
  opacity:    .40;                    /* alle anderen Browser einschließlich IE 9 */
}

button {
  margin-top: 0.3em;
}
