footer {
  margin: $margin-box*3 0 0 0;
  padding: $margin-box 0;
  background: white;
}

footer ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

footer ul.icons li {
  display: inline-block;
  margin: 0 $margin-box;
}

footer a {
  background: none;
}