ul.icons {
  list-style-type: none;
  .label { display: none; }
}

ul.labeled-icons {
  padding: 0;
  margin: 0;

  li {
    line-height: 1.75em;
    padding-left: 2em;
    position: relative;
  }

  h3.fa {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    margin: 0;
    font-size: 1.15em;
    line-height: 1.5em;
    text-align: center;
  }
  a { color: $black; }
}
