<!DOCTYPE HTML>
<html>
  <head>
    <title>Freelance Ruby On Rails Development – Enrico Genauck</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% asset_path favicon.ico %}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    {% stylesheet style %}
  </head>
  <body>

    <!-- Header -->
    <header class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="/" class="pure-menu-heading">Home</a>
      <ul>
        <li><a href="/impressum/">Impressum</a></li>
        <li><a href="/datenschutz/">Datenschutz</a></li>
      </ul>
    </header>

    <!-- Main -->
    <div class="pure-g">
      <div class="pure-u-1-24 pure-u-md-1-5"></div>
      <div class="pure-u-22-24 pure-u-md-3-5">
        {{content}}
      </div>
      <div class="pure-u-1-24 pure-u-md-1-5"></div>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="https://www.xing.com/profile/Enrico_Genauck" class="fa fa-xing"><span class="label">Xing</span></a></li>
        <li><a href="https://twitter.com/enricogenauck" class="fa fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://github.com/enricogenauck" class="fa fa-github"><span class="label">Github</span></a></li>
        <li><a href="mailto:kontakt@enricogenauck.de" class="fa fa-envelope-o"><span class="label">Email</span></a></li>
      </ul>
    </footer>

    <!-- Google Analytics Tracking -->
    {% include google_analytics_tracking.html %}
  </body>
</html>
