<!DOCTYPE HTML>
<html>
  <head>
    <title>Freelance Ruby On Rails Development – Enrico Genauck</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
    {% javascript vendor/jquery.min.js %}
    {% javascript vendor/jquery.poptrox.min.js %}
    {% javascript vendor/skel.min.js %}
    {% javascript init.js %}
    <noscript>
      {% stylesheet skel %}
      {% stylesheet style %}
      {% stylesheet style-xlarge %}
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  </head>
  <body id="top">

    <!-- Header -->
      <header id="header">
        <a href="/" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
        <h1>
          <strong>Ich bin Enrico Genauck</strong>, Freelancer, <br />Senior Ruby on Rails Entwickler.
        </h1>
      </header>

    <!-- Main -->
      <div id="main">
        {{content}}
      </div>

    <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li><a href="https://www.xing.com/profile/Enrico_Genauck" class="icon fa-xing"><span class="label">Dribbble</span></a></li>
          <li><a href="https://twitter.com/enricogenauck" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://github.com/enricogenauck" class="icon fa-github"><span class="label">Github</span></a></li>
          <li><a href="mailtto:kontakt@enricogenauck.de" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          <li><a href="/impressum">Impressum</a></li>
          <li><a href="/datenschutz">Datenschutz</a></li>
        </ul>
      </footer>

    <!-- Google Analytics Tracking -->
    {% include google_analytics_tracking.html %}
  </body>
</html>
